.wrap-7{ background: #213532; color: #c7c7c7; padding: 20px 0; text-align: center;}
.wrap-7 li{ margin: 1rem;}
.wrap-7 a{ color: inherit; font-size: 24px;}
.nav a{ font-size: 13px;}
.nav li{ margin: 0;}
.nav a{ padding: 0 1rem;}
.nav li:not(:first-child){ border-left: 1px solid;}


.wrap-8{ background: #162724; color: #c7cccc; text-align: center; padding: 25px 0;}